$sm-layout: 'only screen and (max-width: 767px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';                    
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$xxlg-device: 'only screen and (min-width: 2000px) and (max-width: 4000px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout: 'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';